<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{index_url}}static/style.css" />
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div><a href="{{index_url}}">back to top</a></div>
{% block content %}{% endblock %}
</body>
</html>
